*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Poppins-Regular', sans-serif

@import base/fonts
// Poppins-Bold Poppins-Regular BalooBhai
@import base/animation
@import blocks/main/main
