.main
    background: url(../img/bg-barilla.jpg) top right/cover no-repeat
    background-attachment: fixed
    padding: 1em
    &__wrapper
        max-width: 920px!important
        display: flex
        justify-content: center
        flex-flow: column wrap
        text-align: center
        max-width: 100%
        margin: 0 auto

        border-radius: .7em
        border: 2px solid white
        background: rgba(255, 255, 255, 0.7)
    &__headline
        background: #F01A18
        border-radius: .7em .7em 0 0
        padding: .4em 0 .4em
        h1
            i
                font-family: 'BalooBhai', cursive
                color: #fff
                font-size: 1.7rem
                line-height: 2rem
    &__img
        padding-top: 2em!important
        -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        width: 83.33333%
        margin: 0 auto
        img
            width: 100%
    &__sub-headline
        font-size: 1.5em
        color: #363636
        text-shadow: 0 0 0.85em #ccc
    &__radio
        display: flex
        justify-content: center
        padding-top: .4rem
        padding-bottom: .4rem
        width: 100%
        input
            display: none
        &-label
            font-size: 0.9rem
            line-height: 1
            text-align: center
            text-transform: uppercase
            font-weight: 700
            border: 1px solid #1779ba
            border-radius: .4rem
            color: #1779ba
            width: 100%

            margin: 0 0 1rem 0
            padding: 0.85em 1em

            cursor: pointer

            transition: background-color 0.25s ease-out,color 0.25s ease-out
